.section-1-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 39px;
  gap: 80px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-img {
  width: 100%;
  height: 323px;
  object-fit: cover;
  border-radius: 24px;
  margin-top: auto;
}
.btn {
  margin: 0 auto;
}

.section-2 {
  margin-top: 82px;
}

.section-2 .section-1-container > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-2 .section-content {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .section-1-container {
    grid-template-columns: 1fr;
  }

  .section-1-container {
    gap: 50px;
    margin-bottom: 18px;
  }

  .section-content {
    gap: 16px;
  }

  .section-img {
    height: 219px;
  }

  .section-2 {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-1-container {
    gap: 40px;
    margin-bottom: 18px;
  }

  .section-content {
    gap: 16px;
  }

  .section-img {
    height: 250px;
  }

  .section-2 {
    margin-top: 40px;
  }
}
