.hero {
  height: 45.125rem;
  background: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  gap: 0.688rem;
}
.hero-content p {
  margin: 0;
}

.p-1 {
  font-size: 1.5rem;
  color: #ffff;
  font-weight: 400;
}

.p-2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffff;
}

/*Home section one*/
.home-sec-1 {
  width: 100%;
  margin-top: 3.625rem;
  display: flex;
  flex-direction: column;
  gap: 3.625rem;
}

.home-sub-sec {
  border: 3px solid #6e3bb5;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2.188rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 3.375rem;
  padding-right: 3.375rem;
}

.sec-content {
  width: 100%;
  max-width: 42.563rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-content p {
  width: 42.375rem;
}
.sec-image {
  width: 100%;
  height: 23.563rem;
}
.sec-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Home section 2*/

.home-sec-2 {
  margin-top: 6.063rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.813rem;
  justify-items: center;
}
.home-sec-2-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36.375rem;
  height: 25.313rem;
}

.home-sec-2-div img {
  width: 100%;
  height: 20.75rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 0.625rem;
}

.center-div {
  grid-column: 1 / -1;
}

/* Responsive styles mobile */
@media (max-width: 767px) {
  /* Hero */

  .hero {
    height: 228px;
  }

  .hero-content {
    gap: 8px;
  }
  .p-1 {
    font-size: 16px;
  }

  .p-2 {
    font-size: 16px;
  }

  /* Home section 1 */
  .home-sec-1 {
    margin-top: 40px;
    gap: 31px;
  }

  .home-sub-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .sec-content {
    width: 100%;
  }

  .sec-content p {
    width: 100%;
    margin: 0;
    padding: 10.5px 14px 0;
  }

  .sec-image {
    height: 184px;
    padding-bottom: 10px;
  }

  /*Home section 2*/

  .home-sec-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 68px;
    gap: 25px;
  }

  .home-sec-2-div {
    width: 100%;
    height: 279px;
  }

  .center-div {
    grid-column: auto;
  }

  .home-sec-2-div img {
    height: 219px;
  }
}

/* tablet & small laptop */

@media (min-width: 768px) and (max-width: 1024px) {
  /* Hero section */
  .hero {
    height: 500px;
  }

  .hero-content {
    gap: 0.5rem;
  }

  /* Section one */
  .home-sub-sec {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sec-content p {
    width: 100%;
  }

  .sec-image {
    height: 300px;
  }

  .home-sec-2-div {
    width: 100%;
    height: auto;
  }

  .home-sec-2-div img {
    height: 250px;
  }

  .center-div {
    max-width: 28.1rem;
    grid-column: 1 / -1;
  }
}
