body,
html {
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  margin-left: 64px;
  margin-right: 64px;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  position: relative;
  height: 94px;
}
.logo img {
  width: 83px;
  height: 83px;
}
.navbar .logo {
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding: 0;
  gap: 48px;
}

.nav-links a {
  font-family: "Bubblegum Sans", cursive;
  text-decoration: none;
  color: #6e3bb5;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #10652f;
}

.nav-links a.active {
  color: #10652f;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
}

.material-symbols-outlined {
  font-size: 30px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-menu {
  color: #10652f;
}

.icon-close {
  color: #10652f;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-toggle {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Bubblegum Sans", Arial, Helvetica, sans-serif;
  color: #6e3bb5;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

p {
  color: #374151;
  font-size: 18px;
  font-weight: 400;
}

.page-title {
  color: #6e3bb5;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.69rem;
  margin-bottom: 2.12rem;
}

.btn {
  width: 15.25rem;
  height: 3.938rem;
  border-radius: 1.5rem;
  background-color: #6e3bb5;
  border: none;
  color: white;
  font-size: 2.25rem;
  font-family: "Bubblegum Sans", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
}

.btn:hover {
  background-color: white;
  border: 3px solid #6e3bb5;
  color: #6e3bb5;
}

/* cta link styling */

.card-text a {
  text-decoration: none;
  color: #10652f;
}
.cta-link-text {
  border-bottom: 2px solid #6e3bb5;
  font-size: 20px;
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
}
.cta-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

/* Footer */
footer {
  margin-top: 2.688rem;
}
.footer-container {
  background-color: #6e3bb5;
  height: 28.5rem;
  padding-top: 1.875rem;
}

.footer-logo img {
  width: 5.188rem;
  height: 5.188rem;
  border-radius: 50%;
}

.footer-content-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.footer-content a {
  text-decoration: none;
  font-size: 1.125rem;
  color: white;
}

.footer-content h3 {
  color: #ffff;
  font-size: 1.5rem;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-content li {
  margin-bottom: 0.625rem;
}

.footer-content p {
  color: #ffff;
  font-size: 1.125rem;
  padding: 0;
  margin-bottom: 0.625rem;
}

@media (max-width: 767px) {
  .page-title {
    font-size: 32px;
    margin-top: 31px;
    margin-bottom: 17px;
  }
  /* Navbar */
  .navbar {
    height: 64px;
    margin-top: 34px;
  }
  .logo img {
    width: 64px;
    height: 64px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #ffff;
    position: absolute;
    top: 64px;
    right: 0;
    width: 100%;
    text-align: center;
    gap: 35px;
    padding: 12px 0;
    z-index: 1000;
  }

  .nav-links a {
    font-size: 18px;
    font-weight: 400;
  }

  .menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .menu-toggle:checked + .hamburger .icon-menu {
    opacity: 0;
    transform: rotate(-90deg);
  }

  .menu-toggle:checked + .hamburger .icon-close {
    opacity: 1;
    transform: rotate(0deg);
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  main {
    margin-left: 16px;
    margin-right: 16px;
  }

  .btn {
    width: 180px;
    height: 46px;
    font-size: 24px;
  }

  /* Footer */
  footer {
    margin-top: 63px;
  }

  .footer-container {
    height: 749px;
    padding-top: 15px;
  }

  .footer-content-container {
    flex-direction: column;
    padding: 0 89px;
  }

  .footer-logo {
    text-align: center;
  }
  .footer-content a {
    font-size: 16px;
  }
  .footer-content h3 {
    font-size: 18px;
  }

  .footer-content p {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-left: 32px;
    margin-right: 32px;
  }

  /* Navbar */

  .nav-links {
    gap: 32px;
  }

  .btn {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.75rem;
  }
}
